#rightFloat {
  float: right;
}

#leftFloat {
  float: left;
}

#roundBorders {
  border-radius: 30%;
}

#screenCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
